/*
 *= require_self
 *= require_tree .
*/

body {
  font-family: "Orbitron", "Lucida Grande", sans-serif;
  background-color: rgb(0,0,0);
  color: rgb(60,60,60);
}

a {
  color: rgb(200,255,255);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  color: rgb(240,240,240);
}

.content {
  width: 670px;
  margin: 0px auto;
}

#start_over {
  float:right;
}

.result {
  display: block;
  overflow: hidden;
  position: static;
  margin-top: 14px;
  background-color:rgb(255,255,255);
  border-radius: 22px;
  img:nth-of-type(1) {
    width: 350px;
  }
  img:nth-of-type(2) {
    width: 250px;
  }  
  p {
    margin-bottom: 0px;
    font-size: 3em; 
  }
  p:nth-of-type(1) {
    margin-left: 3em;
    float: left;
  }
  p:nth-of-type(2) {
    margin-right: 3em;
    float: right;
  }
  p.won {
    background: none;
    text-shadow: 3px 3px 2px #888;
    font-weight: bold;
  }
}

.option_links {
  display: block;
  overflow: hidden;
  position: static;
  text-align: left;
  background-color:rgb(100,100,100);
  border-radius: 22px;
  img {
    width: 220px;
    opacity: 0.5;
    background-color: rgb(200,200,200);
    &:hover {
      opacity: 1.0;
      background-color: rgb(210,240,240);
      cursor: pointer;
    }
  }
}

.tied {
  background-color: rgb(150,150,150);
}

.won {
  background-color: rgb(210,240,240);
}

.lost {
  background-color: rgb(210,140,140);
}

.rounds {
  align:center;
  margin-top: 10px;

  .round {
    margin: 10px;
    float:left;
    border-radius: 22px;
    overflow: hidden;

    .move {
      height: 106px;
      width: 100px;
      float: left;
      background-position: center center;
      background-repeat: no-repeat;

      &.rock {
        background-image: image-url("human_rock.png");
      }

      &.paper {
        background-image: image-url("human_paper.png");
      }

      &.scissors {
        background-image: image-url("human_scissors.png");
      }

      &.computer {

        &.rock {
          background-image: image-url("computer_rock.png");
        }

        &.paper {
          background-image: image-url("computer_paper.png");
        }

        &.scissors {
          background-image: image-url("computer_scissors.png");
        }
      }

    }
  
  }

}

.clear {
  clear:both;
}